<div nz-row nzJustify="center">
    <div nz-col nzSpan="8">
        <nz-card nzTitle="Access" [nzHoverable]="true" [nzActions]="[loginButton]">
            <form nz-form [formGroup]="validateForm" class="login-form" (keydown.enter)="submitForm()">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your username!">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="username" placeholder="Username" autofocus />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your Password!">
                        <nz-input-group nzPrefixIcon="lock">
                            <input type="password" nz-input formControlName="password" placeholder="Password" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-card>
        <ng-template #loginButton>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="submitForm()">Log in</button>
        </ng-template>
    </div>
</div>