<nz-layout class="app-layout">
  <nz-header>
    <ul nz-menu nzMode="horizontal" nzFlex nzJustify="space-between">
        <li nz-menu-item>Architect Design</li>
        <li nz-menu-item nzMatchRouter>
          <nz-icon nzType="dashboard" nzTheme="outline" />
          <a routerLink="/access">Access</a>
        </li>
        <li nz-menu-item nzMatchRouter *ngIf="userHasRole('admin')">
          <nz-icon nzType="usergroup-add" nzTheme="outline" />
          <a routerLink="/admin">Admin</a>
        </li>
        <li nz-menu-item nzMatchRouter *ngIf="userHasRole('user')">
          <nz-icon nzType="appstore" nzTheme="outline" />
          <a routerLink="/clients">Clients</a>
        </li>
      <span>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'default'"
          *ngIf="isLoggedIn; else loginButton" (click)="logout()"><nz-icon nzType="logout" />Logout</button>
        <ng-template #loginButton>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'default'"
            *ngIf="!isAccessPage()" routerLink="/access"><nz-icon nzType="login"/>Login</button>
        </ng-template>
      </span>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>