<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="200px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://pvssassociates.com" target="_blank">
        <h1>Architect Designs</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <li nz-menu-item nzMatchRouter>
            <nz-icon nzType="dashboard" nzTheme="outline" />
            <a routerLink="/access">Access</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin">Admin</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/clients">Clients</a>
          </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div nz-row nzJustify="space-between">
          <div>
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
            </span>
          </div>
          <div>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'default'" *ngIf="isLoggedIn; else loginButton" (click)="logout()">Logout</button>
            <ng-template #loginButton>
              <button nz-button class="login-form-button login-form-margin" [nzType]="'default'" routerLink="/access">Login</button>
            </ng-template>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>