.no-projects-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.card-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.1);
}

.no-projects-message {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-top: 50px;
}