@import "~ng-zorro-antd/ng-zorro-antd.min.css";

nz-icon {
    padding-right: 0.5rem;
}

.card-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.w-100 {
    width: 100%;
}

.menu-item {
    padding: 10px 20px;
}

.menu-item a {
    margin-left: 10px;
}

.header {
    padding: 12px 24px;
    background: #fff;
}

h3 {
    margin: 0px !important;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.button-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.button-flex button {
  flex: 1 1 auto;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}


.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  height: 450px;
}

@media (max-width: 450px) {
  .user-list-section {
    width: 290px;
    overflow-x: auto;
  }

  nz-table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  nz-table table {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .user-list-section {
    overflow-x: auto;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  nz-table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  nz-table table {
    width: 100%;
  }

  .admin-form nz-row {
    flex-direction: column;
  }

  .admin-form nz-col {
    width: 100%;
  }
}

.user-details {
  margin-bottom: 20px;
}

.projects-list {
  margin-bottom: 20px;
  padding: 0 !important;
}

.admin-form {
  margin-top: 20px;
}

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
