@import "~ng-zorro-antd/ng-zorro-antd.min.css";

nz-icon {
    padding-right: 0.5rem;
}

.card-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.w-100 {
    width: 100%;
}

.menu-item {
    padding: 10px 20px;
}

.menu-item a {
    margin-left: 10px;
}

.header {
    padding: 12px 24px;
    background: #fff;
}

h3 {
    margin: 0px !important;
}

.error-message {
    color: red;
    margin-top: 10px;
}

@media (max-width: 350px) {
  .user-list-section {
    overflow-x: auto;
  }

  nz-table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  nz-table table {
    width: 100%;
    min-width: 600px;
  }
}